.noticia {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    min-height: calc(100vh - 60px);
  
    &__titulo {
      font-size: 3em;
      margin-bottom: 20px;
    }
  
    &__imagen {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
      width: 300px;
    }
  
    &__contenido {
        display: inline-block; /*float: left; pa texto a der de img*/
        vertical-align: top; /*float: left; pa texto a der de img*/
      font-size: 1em;
      line-height: 1.6;
      margin-left: 20px;
    }
  }
  